@media screen and (max-width: 700px) {
    body{
        position: relative;
    }
    ul{
        height: 0;
        margin-top: 60px;
        overflow: hidden;
    }
    li{
        width: auto;
        float: none;
    }
    li:nth-child(1){
        margin-top: calc( 50vh - 150px );
    }
    
    #checkbox-1:checked ~ ul{
        height: calc( 100vh - 60px );
    }
}
@media screen and (min-width: 700px) {
    .lab_box{
        display: none;
    }
}