body{
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  background-image: linear-gradient(125deg,#E4FFCD,#FF77FF,#FFFF77,#5500FF,#E4FFCD );  background-size: 1000%;
  animation: bganimation 30s infinite;
}

   
div.img{
  }
  
  
img {
  transform: translate(-50%,-50%);
  position: absolute; top: 50%;left: 50%;
  max-width: 50%;
  max-height: 50%;
}
.background{
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 3000px 0;
  font-size: 22px;
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}